.qwerty{
    background: yellow;
}
.asd{
    background: silver;
    color: blueviolet;
}
.product-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card div{
    width: 36% ;
    background: silver;
    margin: 5px;
}
.product-image{
    height: 350px;
    width: 350px;
}
.product-title{
    color: blue;
}
